body {
  margin: 0;
  font-family: 'Gloria Hallelujah';
  /*background-color: transparent;
  background-image: url('../unicorn-space.png');
  background-repeat: repeat;*/
}

ul {
  list-style: none;
}

.title {
  display: flex;
  justify-content: center;
} .title h1 {
    margin: 0;
    font-size: 60px;
} .title img {
    height: 60px;
    width: auto;
    margin: 30px 110px 0 110px;
}

.game-info {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}
  .moves {
    display: flex;
  }
  .score {
    display: flex;
  }

.container {
  display: flex;
  justify-content: space-between;
} .instructions {
  margin-left: 10%;
  width: 250px;
  align-self: center;
} .instructions ul {
  padding: 0;
  list-style: disc;
  margin-top: 0;
} .unicorn {
  margin-right: 10%;
  width: 250px;
  height: 250px;
  align-self: center;
}
  .unicorn img {
  width: inherit;
  height: inherit;
} .unicorn h4 {
  width: fit-content;
  margin: 0 auto;
}

#new-game {
  font-family: 'Gloria Hallelujah';
  background-color: #fff;
  color: #111;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 2px;
  width: 80px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 400;
  margin: 0 10%;
} #new-game:hover {
  cursor: pointer;
  background-color: #806482;
  color: white;
}
