body {
  background-image: none;
}

ul {
  list-style: none;
}

.title {
  display: flex;
  justify-content: center;
} .title h1 {
    margin: 0;
    font-size: 60px;
} .title img {
    height: 60px;
    width: auto;
    margin: 30px 110px 0 110px;
}

.game-info {
  display: flex;
  justify-content: space-between;
  margin: 0 15%;
  font-size: 26px;
}
  .moves {
    display: flex;
  }
  .score {
    display: flex;
  }

.container {
  display: flex;
  justify-content: space-between;
} .instructions {
  margin-left: 10%;
  width: 250px;
  align-self: center;
} .instructions ul {
  padding: 0;
  list-style: disc;
  margin-top: 0;
} .unicorn {
  margin-right: 10%;
  width: 250px;
  height: 250px;
  align-self: center;
}
  .unicorn img {
  display: none;
} .unicorn h4 {
  width: fit-content;
  margin: 0 auto;
}

#new-game {
  font-family: 'Gloria Hallelujah';
  background-color: inherit;
  color: #111;
  border: none;
  border-radius: 3px;
  padding: 2px;
  width: 80px;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 400;
  margin: 0 10%;
} #new-game:hover {
  cursor: pointer;
  background-color: #806482;
  color: white;
}


body {
  margin: 0;
  font-family: 'Gloria Hallelujah';
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
  border-width: 0.625rem;
  border-style: solid;
  border-color: transparent;
  background: linear-gradient(270deg, rgba(0, 250, 0, 0.4), rgba(250, 200, 200, 0.4));
  background-size: 400% 400%;
  animation: Gradient 10s ease infinite; }

 /*credit to wmcmeans for @keyframes method*/
@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
